---
active_lang: fr
layout: default
position: 2
ref: index
title: Ressources
header: search
search: ressource
menu: true
ressource: extensions
permalink: /resources
pagination: 
  enabled: true
  permalink: ':num/'
  category: extensions
description: >
  Des ressources utiles pour Godot engine.
---
<div class="bg-header">
  {% include header.html %}
</div>

{% include resources-banner.html %}

<div class="content-post">
  <div class="size margin">
    {% include resources-posts.html %}
  </div>
</div>
