<footer>
  <div class="footer container column align-center">
    <div class="size margin footer--block container align-center justify-content-between">
      <div class="container" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <a href="{{ site.baseurl }}/"><span>{{ site.title }}</span></a>
      </div>
      <div class="container social-media-list" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
        {% include social.html %}
      </div>
    </div>
  </div>
</footer>
