<div class="">
  {% if site.posts.size == 0 %}
  <h2>No post found</h2>
  {% else %}
  {% for post in paginator.posts %}
  {% if post.categories contains page.search %}
  {% if post.nsfw %}
    <div class="nsfw">
    <a class="list-item-2 container" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">
  {% else %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="list-item-2 container" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">
  {% endif %}

<!--     <img class="list-item-2-img game-logo" src="/assets/img/showcase/{{ post.logo }}"  alt="{{ post.title }}" > -->
    
    <div class="flex-grow-1" style="background-image: url('/assets/img/showcase/{{ post.logo }}')">
      <div class='flex-empty'></div>
      <div class='flex-content'>
        <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
          <h2 class="list-post-title">
          {{ post.title }}
          </h2>
        </div>
        <div class="" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
          <span class="list-post-description">{{ post.description }}</span>
        </div>

        <div class="list-post-tag" data-aos="fade-up" data-aos-delay="1000" data-aos-offset="0">
          {% for tag in post.tags %}
            <span class="post-tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>

  {% if post.nsfw %}
      <label class="nsfw-button" ondblclick="javascript: {
        this.parentNode.href = '{{ site.baseurl }}{{ post.url }}'
        this.parentNode.parentNode.classList.remove('nsfw')
        this.remove()
      }">Contenu 18+ (Double clique)</label>
    </div>
  {% endif %}
  </a>
  {% if page.post.quantity %}
  {% break %}
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endif %}

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Suivant</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Précédent &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
