<div class="">
  {% if site.posts.size == 0 %}
  <h2>No post found</h2>
  {% else %}
  {% for post in paginator.posts %}
  <a href="{{ post.lien }}" target="_blank" rel="noreferrer" class="ressource-item container" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">

    <div class="ressource-item-icon align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
      <h2 class="ressource-post-title">
      {{ post.title }}
      </h2>
      <div class="ressource-post-type">
        {{ post.type }}
      </div>
    </div>

    <div class="flex-grow-1">
      <div class="" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <span class="ressource-post-description">{{ post.description }}</span>
      </div>

      <div class="list-post-tag" data-aos="fade-up" data-aos-delay="1000" data-aos-offset="0">
        {% for tag in post.tags %}
          <span class="post-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="container align-items-baseline">
      <span class="fas fa-external-link-alt fa-xs"></span>
    </div>
  </a>
  {% if page.post.quantity %}
  {% break %}
  {% endif %}
  {% endfor %}
  {% endif %}
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Suivant</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Précédent &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
