<ul class="">
   {% if site.social_sites.dribbble %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://dribbble.com/{{ site.social_sites.dribbble }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#dribbble"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.discord %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://discordapp.com/invite/{{ site.social_sites.discord }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#discord"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.facebook %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://www.facebook.com/{{ site.social_sites.facebook }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#facebook"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.flickr %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://www.flickr.com/photos/{{ site.social_sites.flickr }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#flickr"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.github %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://github.com/{{ site.social_sites.github }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#github"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.instagram %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://instagram.com/{{ site.social_sites.instagram }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#instagram"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.linkedin %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/{{ site.social_sites.linkedin }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#linkedin"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.pinterest %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://www.pinterest.com/{{ site.social_sites.pinterest }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#pinterest"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.twitter %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://www.twitter.com/{{ site.social_sites.twitter }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#twitter"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.youtube %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://youtube.com/channel/{{ site.social_sites.youtube_uri }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#youtube"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.social_sites.googleplus %}
   <li>
      <a target="_blank" rel="noreferrer" href="https://plus.google.com/{{ site.social_sites.googleplus }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#googleplus"></use>
         </svg>
      </a>
   </li>
   {% endif %}
   {% if site.rss %}
   <li>
      <a target="_blank" rel="noreferrer" href="{{ 'feed.xml' | relative_url }}">
         <svg class="svg-icon">
            <use xlink:href="/assets/img/minima-social-icons.svg#rss"></use>
         </svg>
         <span>{{ site.rss }}</span>
      </a>
   </li>
   {% endif %}
</ul>

