.footer {
  min-height: 70px;
  background: $colorfooter_background;
  overflow: hidden;
  position: relative;

  flex-shrink: 0;
  width:100%;

  .footer--block {
    a {
      color: $colortheme;

      span {
        font-weight: bold;
      }
    }

    .social-media-list {
      ul {
        list-style-type: none;
        overflow: hidden;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        text-decoration: none;
      }
    }
  }
}
