@charset "utf-8";

// Define defaults for each variable.
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$table-text-align: left !default;
$spacing-unit:     30px !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$darkblue-color: #222831;
$darkblue-color-light: lighten($darkblue-color, 68%) !default;
$darkblue-color-dark:  darken($darkblue-color, 2%) !default;

$blue-color: #6aacc1;
$blue-color-light: lighten($blue-color, 40%) !default;
$blue-color-dark:  darken($blue-color, 25%) !default;

$maroon-color: #624324;
$maroon-color-light: lighten($maroon-color, 40%) !default;
$maroon-color-dark:  darken($maroon-color, 25%) !default;

$green-color: #7aa140;
$green-color-light: lighten($green-color, 40%) !default;
$green-color-dark:  darken($green-color, 25%) !default;

$red-color: #b15252;
$red-color-light: lighten($red-color, 25%) !default;
$red-color-dark:  darken($red-color, 25%) !default;

$text-color:       $darkblue-color-dark !default;
$background-color: $darkblue-color-light !default;
$brand-color:      #2a7ae2 !default;

// Width of the content area
$content-width:    1600px !default;

$on-phone:         450px !default;
$on-palm:          800px !default;
$on-laptop:        1024px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.body-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#site-nav {
  z-index: 4;
}

.site-nav {

  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $darkblue-color-light;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: -12px;
    right: $spacing-unit / 2;
    background-color: $darkblue-color-light;
    border: 1px solid $darkblue-color-dark;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      z-index: 4;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      color: $darkblue-color-dark;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.list-post-tag {
  margin-bottom: 4px;
}

.post-tag {
  background-color: $colortag;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 16px;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.tutoriel-niveau-facile {
  color: #0caf00;
}

.tutoriel-niveau-moyen {
  color: #e8c900;
}

.tutoriel-niveau-difficile {
  color: #de1414;
}
