
.menu {
  background: $colortheme;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: visible;
box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
  .site-nav {
    a {
      color: $colorlink;
      text-decoration: none;
      background-image: linear-gradient(#01365c, #01365c);
      background-position: 0% 110%;
      background-repeat: no-repeat;
      background-size: 0% 4px;
      transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
    }

    a:hover,
    a:active,
    a:focus {
      text-decoration: none;
      background-size: 100% 4px;
    }
  }

  a span {
    font-weight: bold;
  }
}

.menu--content {
  height: 80px;
}

.menu--content--item {
  margin: 8px;
}

.site-title {
  line-height: 80%;
  width: 256px;
  font-size: 21px;
    @media screen and (max-width: 480px) {
      img {
        width: 26px
      }
    }
    .site-title-text {
      font-weight: bold;
      margin-left: 12px;
      transition: .3s;
    }
}
