.content-post {
  min-height: calc(100vh - 480px);
  background: #f3f5f7;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-grow: 1;

  a:hover,
  a:focus {
    color: #de3535;
    transition: all 0.2s linear;
  }
}

.background-box-white {
  background-color: $colortheme;
  margin-top: -5%;
  padding: 4px;
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.334);
  border: 1px solid #C1C1C1;

  @media only screen and (min-width: 800px) {
    padding: 32px;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px 0px 12px 0 rgba(0,0,0,0.334);
  }

  &:hover {
    border-color: $colortext;
  }
}

.index-head {
  min-height: 128px;
  flex-grow: 0;
  background: #01365c;
  color: $colortheme;

  h1 {
    color: $colortheme;
  }

  .index-head-img {
    width: 768px;
    margin: 12px;
  }

  .index-head-text {
    margin-right: 64px;
  }

  a {
    font-weight: bold;
  }

  .link-border-white {
    color: #01365c;
  }

  .link-transparent {
    color: $colortheme;
  }
}

.index-foot {
  background: $colortheme;
  min-height: 120px;

  color: #01365c;

  h1 {
    color: #01365c;
  }

  .index-foot-img {
    width: 768px;
    margin: 12px;
  }

  .index-foot-text {
    margin-left: 64px;
  }

  a {
    font-weight: bold;
  }

  .link-border-darkblue {
    color: $colortheme;
  }

  .link-transparent {
    color: #01365c;
  }

  ul {
    list-style-type: disc;
    padding: 0px 32px 0px 64px;
  }

  .index-foot-item {
    padding: 32px 64px 32px 32px;
    text-align: justify;
    text-justify: auto;

    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.link-transparent {
  padding: 10px 24px 10px 24px;
}

.link-border-white {
  border-style: solid;
  border-width: 1px;
  background-color: $colortheme;
  padding: 10px 24px 10px 24px;
  color: #01365c;
}

.link-border-darkblue {
  border-style: solid;
  border-width: 1px;
  background-color: #01365c;
  padding: 10px 24px 10px 24px;
  color: $colortheme;
}

.list-item {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 1px solid #C1C1C1;
  background-color: $colortheme;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  cursor: pointer;
    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      border-color: $colortext;
    }

    .list-item-icon {
      flex-basis: 100px;
      padding-right: 20px;
      font-size: 2rem;
      color: $colortext;
    }

    .list-post-title {
      font-size: 22px;
      transition: .3s;
      color: $colortext;
    }
    .list-post-type {
      font-size: 18px;
      transition: .3s;
      color: $colortext;
    }
    .list-post-description {
      font-size: 16px;
    }

    .list-post-written {
      span {
        font-weight: bold;
      }
    }

    small {
      font-size: 12px;
      opacity: .7
    }
}

.list-item-2 {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 1px solid #C1C1C1;
  padding: 40px;
  box-sizing: border-box;
  transition: .3s;
  margin-bottom: 10px;
  overflow: hidden;
  &:hover {
    border-color: $colortext;
    .list-post-title {
      color: $colortext;
    }
  }

  .list-item-2-img {
    margin-right: 20px;
      @media screen and (max-width: 839px) {
        margin-right: 0;
        margin-top: 20px;
      }
   }
}

article {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.0rem;
    margin-bottom: 1.0rem;
    font-weight: 900;
    line-height: 0.9;
    color: #01365c;
    letter-spacing: -.025rem;
    text-transform: uppercase;
  }

  ul {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 32px;
  }

  li {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  a {
    color: #0ba300;
  }

  a:hover,
  a:focus {
    color: #de3535;
    transition: all 0.2s linear;
  }

  .article-header-link {
    opacity: 0.1;

    &:hover,
    &:focus {
      opacity: 0.5;
      transition: all 0.2s linear;
    }
  }

  .center-image {
    margin: 0 auto;
    display: block;
  }

  img + em {
    display: block;
    text-align: center;
    font-size: .8rem;
  }

  strong {
    font-weight: bold;
  }
}

.pager {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  .next {
    float: right;
  }

  .previous {
    float: left;
  }

}