---
layout: default
---
<div class="bg-header">
  {% include header.html %}
</div>

{% include minutes-to-read.html %}
<div class="size margin min-height background-box-white">
  <article>
    <!-- titles -->
    <h1 class="post-title" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">{{ page.title }}</h1>
    <div class="post-date" data-aos="fade-left" data-aos-delay="300" data-aos-offset="0">
      <time>{{ page.date | date_to_string }}</time>
      <span class="reading-time" title="Estimated read time"> - {{ minutesText }}</span>
    </div>
    <div class="list-post-written" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
      {% if page.original_url %}
      <a target="_blank" rel="noreferrer" href="{{ page.original_url }}" >
      {% endif %}
      <small>Écrit par <span>{{ page.by }}</span> - </small>
      {% if page.original_url %}
      </a>
      {% endif %}
      {% if page.translated %}
      <small>Traduit par <span>{{ page.translated }}</span> - </small>
      {% endif %}
      <small><time>{{ page.date | date_to_string }}</time></small>
    </div>
    <!-- titles -->

    <!-- content -->
    {{ content }}

    <!-- content -->
  </article>
</div>
